@{
    ViewData["Title"] = "EditFoodDonationRecord";
}

@model Cloud_Assignment.Models.FoodRecord
<center>
    <h1>Update Food Donation Record:</h1>
    <br/><hr/><br/>

    <form method="post" asp-action="UpdateFoodDonationRecord" asp-controller="Home">
        <table class="table table-bordered border border-secondary">
            <tr>
                <th><label asp-for="RecordId" class="form-label"></label></th>
                <td><input asp-for="RecordId" readonly class="form-control" /></td>
            </tr>
            <tr>
                <th><label asp-for="RecordType" class="form-label"></label></th>
                <td><input asp-for="RecordType" readonly class="form-control" /></td>
            </tr>
            <tr>
                <th><label asp-for="UserId" class="form-label"></label></th>
                <td>
                    @if (Model.UserId == null)
                    {
                        <span class="text-danger">User Removed!</span>
                    }
                    else
                    {
                        <input asp-for="UserId" readonly class="form-control" />
                    }
                </td>
            </tr>
            <tr>
                <th><label asp-for="FoodId" class="form-label"></label></th>
                <td>
                    @if (Model.FoodId == null)
                    {
                        <span class="text-danger">Food Type Removed!</span>
                    }
                    else
                    {
                        <input asp-for="FoodId" readonly class="form-control" />
                    }
                </td>
            </tr>
            <tr>
                <th><label asp-for="FoodQuantity" class="form-label"></label></th>
                <td><input asp-for="FoodQuantity" readonly class="form-control" /></td>
            </tr>
            <tr>
                <th><label asp-for="DOR" class="form-label"></label></th>
                <td><input asp-for="DOR" class="form-control" /></td>
                @* <td><span asp-validation-for="DOR" class="text-danger"></span></td> *@
            </tr>
            <tr>
                <th><label asp-for="Description" class="form-label"></label></th>
                <td><input asp-for="Description" class="form-control" /></td>
                @* <td><span asp-validation-for="Description" class="text-danger"></span></td> *@
            </tr>
        </table>

        <button type="submit" class="btn btn-info">
            Update
        </button>
    </form>

</center>

