@inject SignInManager<Cloud_AssignmentUser> SignInManager
@inject UserManager<Cloud_AssignmentUser> UserManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var userAccount = await UserManager.GetUserAsync(User);
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    <li class="nav-item">
        <a class="nav-link" asp-action="Index" asp-controller="SNS">
            Newsletter Subscription
        </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" asp-action="removeAccount" asp-controller="Profile">
        Delete Account
    </a>
    </li>
</ul>
