@model List<InventoryRecord>
@using Cloud_Assignment.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<Cloud_AssignmentUser> UserManager

@{
    ViewData["Title"] = "CreateFoodDonation";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserAccount = await UserManager.GetUserAsync(User);
}

<h1>New Food Donation</h1>

<center>
    <form asp-action="AddFoodDonation" method="post">
        <table>
            <tr> 
                <th><label>User Information</label></th>
                <td><input name="UserFullName" value="@UserAccount?.UserFullName" readonly /></td>
                <td><input name="UserId" value="@UserAccount?.Id" hidden /></td>
            </tr>

            <tr>
                <th><label for="DonationType">Choose a donation option:</label></th>
                <td>
                    <select name="Donationtype" onchange="showControls(this)">

                        <option value="showCombo" selected>Show Existing Food Type</option>
                        <option value="showOther">Create New Food Type</option>

                    </select>
                </td>
                <td><input type="hidden" name="selectedOption" id="selectedOption" value="showCombo" /></td>
            </tr>

            <tr>
                <th><label>Food Type</label></th>
                <td id="existingFoodType">
                    <select name="FoodId" onchange="selectFood(this)">
                    @foreach (var item in Model)
                    {
                        <option value="@item.FoodId">@item.FoodName</option>
                    }
                </select>
                </td>
                <td id ="newFoodType" hidden>
                    <input type="text" name="FoodType" id="foodType" />
                </td>
            </tr>

            <tr id="newFoodTypeTextBox" hidden>
                <th>
                        <label for="FoodDesc">Food Description</label> </th>
                <td>
                    <input type="text" name="FoodDesc" />
                    
                </td>
            </tr>

            <tr>
               <th>
                <label>Food Quantity</label>
                </th>
                <td>
                    <input name="FoodQuantity" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" id="submitbutton" name="submit" value="DONATE"/>
                </td>
            </tr>
        </table>
    </form>
</center>

<script>
    function showControls(selectElement) {
        var showCombo = selectElement.value;
        var existingFoodType = document.getElementById('existingFoodType');
        var newFoodType = document.getElementById('newFoodType');
        var newFoodTypeTextBox = document.getElementById('newFoodTypeTextBox');

        if (showCombo === 'showCombo') {
            existingFoodType.hidden = false;
            newFoodType.hidden = true;
            newFoodTypeTextBox.hidden = true;
            document.getElementById('selectedOption').value = "showCombo";

        } else {
            existingFoodType.hidden = true;
            newFoodType.hidden = false;
            newFoodTypeTextBox.hidden = false;
            document.getElementById('selectedOption').value = "showOther";
        }
    }
</script>
