@{
    ViewData["Title"] = "EditMoneyDonationRecord";
}

@model Cloud_Assignment.Models.FinancialRecord
<center>
    <h1>Update Money Donation Record:</h1>
    <br /><hr /><br />
    <form method="post" asp-action="UpdateMoneyDonationRecord" asp-controller="Donation">
        <table border='1'>
            <tr>
                <th><label asp-for="RecordId"></label></th>
                <td><input asp-for="RecordId" readonly /></td>
            </tr>
            <tr>
                <th><label asp-for="RecordType"></label></th>
                <td><input asp-for="RecordType" /></td>
                <td><span asp-validation-for="RecordType"></span></td>
            </tr>
            <tr>
                <th><label asp-for="UserId"></label></th>
                <td><input asp-for="UserId" readonly/></td>
                @* <td><span asp-validation-for="UserId"></span></td> *@
            </tr>
            <tr>
                <th><label asp-for="CurrencyType"></label></th>
                <td><input asp-for="CurrencyType" /></td>
                <td><span asp-validation-for="CurrencyType"></span></td>
            </tr>
            <tr>
                <th><label asp-for="Amount"></label></th>
                <td><input asp-for="Amount" /></td>
                <td><span asp-validation-for="Amount"></span></td>
            </tr>
            <tr>
                <th><label asp-for="Balance"></label></th>
                <td><input asp-for="Balance" /></td>
                <td><span asp-validation-for="Balance"></span></td>
            </tr>
            <tr>
                <th><label asp-for="DOR"></label></th>
                <td><input asp-for="DOR" /></td>
                <td><span asp-validation-for="DOR"></span></td>
            </tr>
            <tr>
                <th><label asp-for="Description"></label></th>
                <td><input asp-for="Description" /></td>
                <td><span asp-validation-for="Description"></span></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align:center">
                    <button type="submit" class="btn-info">
                        Update
                    </button>
                </td>
            </tr>
        </table>
    </form>
</center>
