
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Contribute For The Greater Good</h1>
<p><a asp-action="CreateFoodDonation">Donate Food</a></p>
<p><a asp-action="CreateMoneyDonation">Donate Money</a></p>

