
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
<h1>Contribute For The Greater Good</h1>
<p><a asp-action="CreateFoodDonation">Donate Food</a></p>
<p><a asp-action="CreateMoneyDonation">Donate Money</a></p>
<p><a asp-action="viewFoodDonationRecord">View Food Donation Record</a></p>
<p><a asp-action="viewMoneyDonationRecord">View Money Donation Record</a></p>
<p><a asp-action="viewUserDetail">View All Users</a></p>
</body>