@model Cloud_Assignment.Models.DistributionSchedule
@using Cloud_Assignment.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using Cloud_Assignment.Models;
@using Cloud_Assignment.Data;
@inject UserManager<Cloud_AssignmentUser> UserManager

@{
    var UserAccount = await UserManager.GetUserAsync(User);
}

<button onclick="Back()">Back</button>
<center>
    <h1>Add Distribution Schedule Record</h1>
    <hr />
    <form asp-action="AddDistributionRecord" method="post">
        <table>
            <tr>
                <th><label asp-for="RecordType"></label> </th>
                <td><input asp-for="RecordType" value="Distribute" required readonly/></td>
                <td><span asp-validation-for="RecordType"></span></td>
            </tr>
            <tr>
                <th><label asp-for="RecordId"></label> </th>
                <td><select asp-for="RecordId" asp-items="ViewBag.RecordIds">
                        <option value="">Select an ID</option>        
                    </select>
                </td>
                <td><span asp-validation-for="RecordId"></span></td>
            </tr>
            <tr>
                <th><label asp-for="DistributionStatus"></label> </th>
                <td><input asp-for="DistributionStatus" value="pending" required readonly /></td>
                <td><span asp-validation-for="DistributionStatus"></span></td>
            </tr>
            <tr>
                <th><label asp-for="DOD"></label> </th>
                <td><input asp-for="DOD" required /></td>
                <td><span asp-validation-for="DOD"></span></td>
            </tr>
            <tr>
                <input name="DistributorId" value="@UserAccount?.Id" hidden/>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="submit" value="Add Data to table" />
                </td>
            </tr>
        </table>
    </form>
</center>

<script>
    function Back() {
        var previousPage = '@(Context.Request.Headers["Referer"].ToString())';
        window.location.href = previousPage;
    }
</script>
