@model Cloud_Assignment.Models.DistributionSchedule
@using Cloud_Assignment.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<Cloud_AssignmentUser> UserManager
@{
    var UserAccount = await UserManager.GetUserAsync(User);
}

<style>
    body {
        background-color: lightblue;
    }

    h1 {
        font-family: 'Trocchi', serif;
        font-size: 38px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }

    table {
        margin: 10px;
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        border: 2px solid #000;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }

    td {
        padding: 15px;
        background-color: #FAFAD2;
    }

    th {
        background-color: #E0FFFF;
    }

    .btn {
        text-decoration: none;
        padding: 0.5rem;
        border: 1px solid #333333;
        border-radius: 20px;
        background-color: #F0F8FF;
    }

        .btn:hover {
            background-color: #FF6680;
            color: #FFFFFF;
        }
</style>

<form asp-controller="DistributionScheduleRecord" asp-action="ViewScheduleRecord" method="get">
    <button type="submit" class="btn">Back</button>
</form>
<center>
    <h1>Edit Distribution Schedule:</h1>
    <br /><hr /><br />
    <form method="post" asp-action="UpdateDistributionRecord" asp-controller="DistributionScheduleRecord" onsubmit="validateForm(event)">
        <table>
            <tr>
                <th><label asp-for="DistributionId"></label></th>
                <td><input asp-for="DistributionId" readonly /></td>
                <td><span asp-validation-for="DistributionId"></span></td>
            </tr>
            <tr>
                <th><label asp-for="RecordType"></label></th>
                <td><input asp-for="RecordType" readonly /></td>
                <td><span asp-validation-for="RecordType"></span></td>
            </tr>
            <tr>
                <th><label asp-for="RecordId"></label></th>
                <td><input asp-for="RecordId" readonly /></td>
                <td><span asp-validation-for="RecordId"></span></td>
            </tr>
            <tr>
                <th><label asp-for="DistributionStatus"></label></th>
                <td>
                    <select asp-for="DistributionStatus" id="distributionstatus">
                        <option value="Pending">Pending</option>
                        <option value="Deliverd">Deliverd</option>
                    </select>
                </td>
                <td><span asp-validation-for="DistributionStatus"></span></td>
            </tr>
            <tr>
                <th><label asp-for="DOD">Date of Distribution</label></th>
                <td><input asp-for="DOD" id="DOD" /></td>
                <td><span asp-validation-for="DOD"></span></td>
            </tr>
            <tr>
                <th><label>Distributor </label></th>
                <td><label>@UserAccount?.UserFullName</label></td>
                <td></td>
            </tr>
            <tr>
                <input asp-for="DistributorId" value="@UserAccount?.Id" hidden />
            </tr>
        </table>
        <button type="submit" class="btn"> Update Schedule </button>
    </form>
</center>

<script>
    var isDeliverd = true;
    var dropdown = document.getElementById("distributionstatus");
    if (@Model.DistributionStatus == "Pending") {
        var isDeliverd = false;
    }
    if (isDeliverd) {
        dropdown.value = "Deliverd";
    } else {
        dropdown.ariaValueMax = "Pending";
    }

    function validateForm(event) {
        var date = document.getElementById('DOD').value;
        if (date == null || date == "") {
            alert("Please ensure your date is valid!");
            event.preventDefault();
        } else {
            alert("Update Successfully");
        }
    }
</script>