
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Request For Help</h1>
<p><a asp-action="CreateFoodRequest">Request Food</a></p>
<p><a asp-action="CreateMoneyRequest">Request Money</a></p>

