@using Microsoft.AspNetCore.Identity
@using Cloud_Assignment.Areas.Identity.Data

@inject SignInManager<Cloud_AssignmentUser> SignInManager
@inject UserManager<Cloud_AssignmentUser> UserManager

    @{
        var userAccount = await UserManager.GetUserAsync(User);
    }

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (userAccount.UserRole == "user")
        {
            <li class="nav-item">
                <a id="addDonation" class="nav-link text-dark" asp-action="Index" asp-controller="Donation">
                    DONATE TO HELP
                </a>
            </li>
            <li class="nav-item">
                <a id="addRequest" class="nav-link text-dark" asp-action="RequestFood" asp-controller="Request">
                    REQUEST FOR HELP
                </a>
            </li>

        }
        @if (userAccount.UserRole == "staff")
        {
            <li class="nav-item">
                <a id="viewInventory" class="nav-link text-dark" asp-action="SendBroadcastMessage" asp-controller="SNS">
                    SEND BROADCAST MESSAGE
                </a>
            </li>
            <li class="nav-item">
                <a id="viewInventory" class="nav-link text-dark" asp-action="Index" asp-controller="Inventory">
                    View Inventory
                </a>
            </li>
            <li class="nav-item">
                <a id="addRequest" class="nav-link text-dark" asp-action="ViewRequest" asp-controller="RequestRecord">
                    View Requst
                </a>
            </li>
            <li class="nav-item">
                <a id="addSchedule" class="nav-link text-dark" asp-action="Index" asp-controller="DistributionScheduleRecord">
                    Add Schedule
                </a>
            </li>
            <li class="nav-item">
                <a id="registerUser" class="nav-link text-dark" asp-action="Index" asp-controller="UserRecord">
                    Register New User
                </a>
            </li>
        }
        @if (userAccount.UserRole == "distributor")
        {
            <li class="nav-item">
                <a id="distributionManagement" class="nav-link text-dark" asp-action="Index" asp-controller="DistributorRecord">
                    MANAGE DISTRIBUTION
                </a>
            </li>
            <li class="nav-item">
                <a id="generateReport" class="nav-link text-dark" asp-action="ViewRecord" asp-controller="DistributorRecord">
                    VIEW RECORD
                </a>
            </li>
        }
        <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">PROFILE</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="logbtn nav-link btn btn-link text-dark border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
